In [1]:
import geopandas as gpd
import copernicusmarine

/Users/volkerh/miniforge3/envs/climarest/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
fname = '../data/galicia_mussel_farms.geojson'
gdf_aoi = gpd.read_file(fname)

In [3]:
gdf_aoi

                  name                                           geometry
0        Ría de Arousa  POLYGON ((-8.95 42.54, -8.75 42.54, -8.75 42.6...
1          Ría de Vigo  POLYGON ((-8.82 42.2, -8.64 42.2, -8.64 42.32,...
2    Ría de Pontevedra  POLYGON ((-8.85 42.34, -8.71 42.34, -8.71 42.4...
3  Ría de Muros e Noia  POLYGON ((-9.08 42.72, -8.85 42.72, -8.85 42.8...

In [4]:
gdf_aoi.head(1).geometry.bounds

   minx   miny  maxx   maxy
0 -8.95  42.54 -8.75  42.68

In [5]:
gdf_aoi.head(1).geometry.bounds.minx.iloc[0]

np.float64(-8.95)

In [6]:
gdf_aoi.head(1).geometry.bounds.values.tolist()[0]

[-8.95, 42.54, -8.75, 42.68]

In [7]:
# calculate centroid
gdf_aoi['centroid'] = gdf_aoi.geometry.to_crs(epsg=25830).centroid.to_crs(epsg=4326)

In [8]:
gdf_aoi

,name,geometry,centroid
0,Ría de Arousa,"POLYGON ((-8.95 42.54, -8.75 42.54, -8.75 42.6...",POINT (-8.85 42.61002)
1,Ría de Vigo,"POLYGON ((-8.82 42.2, -8.64 42.2, -8.64 42.32,...",POINT (-8.73 42.26002)
2,Ría de Pontevedra,"POLYGON ((-8.85 42.34, -8.71 42.34, -8.71 42.4...",POINT (-8.78 42.39001)
3,Ría de Muros e Noia,"POLYGON ((-9.08 42.72, -8.85 42.72, -8.85 42.8...",POINT (-8.96501 42.79503)