In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import geopandas as gpd
import copernicusmarine
import datetime

/Users/volkerh/miniforge3/envs/climarest/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
def _load_aoi():
    fname = '../data/galicia_mussel_farms.geojson'
    gdf_aoi = gpd.read_file(fname)
    # return gdf_aoi.head(1).geometry.bounds
    return gdf_aoi.head(1).geometry.bounds.values.tolist()[0]

bounds = _load_aoi()
print(bounds)

[-8.95, 42.54, -8.75, 42.68]

In [4]:
def _load_ocean_model(minx, miny, maxx, maxy, mint, maxt):
    # Set parameters
    data_request = {
       # "dataset_id" : "cmems_mod_ibi_phy_anfc_0.027deg-3D_PT1H-m",  # 3D, hourly
       "dataset_id" : "cmems_mod_ibi_phy_anfc_0.027deg-2D_PT1H-m",  # 2D, hourly
       "longitude" : [minx, maxx], 
       "latitude" : [miny, maxy],
       "time" : [tlo, thi],
       "variables" : ["thetao"]  # sea water potential temperature in C
    }
    
    # Load xarray dataset
    # dset = copernicusmarine.open_dataset(
    #     dataset_id = data_request["dataset_id"],
    #     minimum_longitude = data_request["longitude"][0],
    #     maximum_longitude = data_request["longitude"][1],
    #     minimum_latitude = data_request["latitude"][0],
    #     maximum_latitude = data_request["latitude"][1],
    #     start_datetime = data_request["time"][0],
    #     end_datetime = data_request["time"][1],
    #     variables = data_request["variables"]
    # )

    # Load dataframe
    df = copernicusmarine.read_dataframe(
        dataset_id = data_request["dataset_id"],
        minimum_longitude = data_request["longitude"][0],
        maximum_longitude = data_request["longitude"][1],
        minimum_latitude = data_request["latitude"][0],
        maximum_latitude = data_request["latitude"][1],
        start_datetime = data_request["time"][0],
        end_datetime = data_request["time"][1],
        variables = data_request["variables"]
    )
    
    # Print loaded dataset information
    return df

# set time
tlo = datetime.datetime.now().isoformat()
thi = (datetime.datetime.now() + datetime.timedelta(days=7)).isoformat()

# load
# dset = _load_ocean_model(bounds[0], bounds[1], bounds[2], bounds[3], tlo ,thi)
df = _load_ocean_model(bounds[0], bounds[1], bounds[2], bounds[3], tlo ,thi)

INFO - 2025-05-12T12:04:53Z - Selected dataset version: "202411"
INFO - 2025-05-12T12:04:53Z - Selected dataset part: "default"

In [5]:
# plt.imshow(dset['thetao'][3,:,:])

In [6]:
df_flat = df.reset_index().dropna(subset=['thetao']).reset_index()

In [7]:
df_flat

     index                time   latitude  longitude  thetao
0        1 2025-05-12 15:00:00  42.554749  -8.915863  17.249
1       18 2025-05-12 15:00:00  42.610306  -8.832527  17.631
2       19 2025-05-12 15:00:00  42.610306  -8.804748  17.606
3       36 2025-05-12 16:00:00  42.554749  -8.915863  17.403
4       53 2025-05-12 16:00:00  42.610306  -8.832527  17.767
..     ...                 ...        ...        ...     ...
499   5828 2025-05-19 13:00:00  42.610306  -8.832527  18.127
500   5829 2025-05-19 13:00:00  42.610306  -8.804748  18.070
501   5846 2025-05-19 14:00:00  42.554749  -8.915863  18.097
502   5863 2025-05-19 14:00:00  42.610306  -8.832527  18.160
503   5864 2025-05-19 14:00:00  42.610306  -8.804748  18.107

[504 rows x 5 columns]

In [8]:
# df_flat['STATE'] = df_flat[df_flat.thetao>17.6]
df_flat['state'] = df_flat.thetao.apply(lambda thetao: 'ALARM' if thetao>18.9 else 'NOMINAL')

In [9]:
df_flat[df_flat.state=='ALARM']

     index                time   latitude  longitude  thetao  state
365   4254 2025-05-17 16:00:00  42.610306  -8.804748  18.958  ALARM
368   4289 2025-05-17 17:00:00  42.610306  -8.804748  18.931  ALARM